<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold" style="color:#787b7b">Matt</span><span class="fs-4 fw-bold" style="color:#454747"> Carter</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-decoration-none" href="https://drive.google.com/file/d/1QjhxNCfscRUi4gYm87uW785Yv7YisHhU/view?usp=sharing" target="_blank">CV</a>
  </nav>
</header>
