<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5 pubs">Publications</h3>
    <span class="author-cont"><p> *authors contributed equally (co-first), &#9838;authors contributed equally (co-second)</p></span>
    {% if page.title == "Home" %}
    <ol reversed>
      {% for item in site.data.publications.featured %}
      <li>
        <p>
          {{ item.authors }}<br>
          <b>{{ item.name }}</b><br>
          <i>{{ item.journal }}</i> ({{ item.year }}) [<a target="_blank" href="{{ item.abstract}}">abstract</a>] [<a target="_blank" href="{{ item.pdf }}">pdf</a>] {% if item.data %}[<a target="_blank" href="{{ item.data }}">data</a>] {% endif %}{% if item.press %}[<a target="_blank" href="{{ item.press }}">press</a>]{% endif %}<br>
        </p>
      </li>
      {% endfor %}
    </ol>
    {% else %}
    {% endif %}

  </div>
</div>
