<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <p> *authors contributed equally (co-first), &#9838;authors contributed equally (co-second) </p>
    {% if page.title == "Home" %}
    <ol reversed>
      {% for item in site.data.publications.featured %}
      <li>
        <p>
          {{ item.authors }}<br>
          <b>{{ item.name }}</b><br>
          <i>{{ item.journal }}</i> ({{ item.year }}) [<a href="{{ item.abstract}}">abstract</a>] [<a href="{{ item.pdf }}">pdf</a>] {% if item.data %}[<a href="{{ item.data }}">data</a>] {% endif %}{% if item.press %}[<a href="{{ item.press }}">in press</a>]{% endif %}<br>
        </p>
      </li>
      {% endfor %}
    </ol>
    {% else %}
    {% endif %}

  </div>
</div>
